<div class="ui dropdown item ms-nav-profile-dropdown">
    <i class="user icon"></i> david.szoeke@gmail.com
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item">
            <i class="mail icon"></i> Messages
        </a>
        <a class="item">
            <i class="setting icon"></i> Profile settings
        </a>

        <div class="divider"></div>
        <a class="item" href="@Routes.Logout.GetActionLink(Url)">
            <i class="sign out icon"></i> Sign out
        </a>
    </div>
</div>