<div class="ui dropdown item ms-nav-group-dropdown">
    @*<i class="ellipsis vertical icon"></i>*@
    @*<i class="angle double down icon"></i>*@
    @*<i class="toggle down icon"></i>*@
    @*<i class="compass icon"></i>*@
    <i class="map signs icon"></i>

    @*<i class="dropdown icon"></i>*@
    <div class="menu">
        <a class="item" href="@Routes.IndexBankAccounts.GetActionLink(Url)">
            <i class="university icon"></i> Bank Accounts
        </a>

        <a class="item">
            <i class="folder icon"></i> Categories
        </a>
        <a class="item">
            <i class="users icon"></i> Group settings
        </a>
    </div>
</div>