@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="ui labeled icon positive button ms-create-group-button" href="@Routes.CreateGroup.GetActionLink(Url)">
    <i class="plus icon"></i>
    create group
</a>