@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="ui labeled icon positive button ms-create-bankaccount-button">
    <i class="plus icon"></i>
    create bank account
</button>

@Html.Partial("CreateBankAccountModal", new moonstone.ui.web.Models.ViewModels.BankAccount.CreateBankAccountViewModel())